.vscode/*
!.vscode/c_cpp_properties.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

*.o
*.exe
!bin/SudokuValidator.exe
!bin/SudokuGenerator.exe
*.stackdump

TODO
*.todo
